.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
}

.list {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 66px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px -2px 8px rgba(0,0,0,0.1);
}

@media only screen and (max-width : 780px) {
    .list {
        width: 90%;
    }
}