.userDetailContainer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 66px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px -2px 8px rgba(0,0,0,0.1);
}

.userDetailInputsContainer {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.userDetailInput {
    margin-bottom: 16px !important;
}

.userDetailTitle {
    margin-left: 16px;
    padding-top: 16px;
    font-weight: bold;
}

.userDetailError {
    margin-top: 16px;
    color: red;
}

.userDetailBtn {
    margin-top: 16px !important;
}

@media only screen and (max-width : 780px) {
    .userDetailContainer {
        width: 90%;
    }
}