.header-Container {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #54B5D6;
    color: #F8F8F8;
}

.header-GoHome {
    cursor: pointer;
}
    .header-GoHome:hover {
        opacity: 0.5;
    }