.headerContainer {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #54B5D6;
    color: #F8F8F8;
}

.headerGoHome {
    cursor: pointer;
}
    .headerGoHome:hover {
        opacity: 0.5;
    }