.userItemContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    text-decoration:none;
    color: black
}
    .userItemContainer:hover {
        opacity: 0.7;
    }

.userItemImg {
    max-width: 75px;
    border-radius: 50%;
    margin-right: 16px;
}

.UserItemDesc {
    font-weight: bold;
}